*{
  margin:0;
  padding: 0;
}
body{
  background: #ccc;
  font-family: sans-serif;
}

nav{
  width: 100%;
  height:60px;
  background: #2587da;
  display: flex;
  position: relative;
}
ul{
  float: right;
  display: flex;


}
ul li{
  margin:15px;
  color: #f2f2f2;
  cursor: pointer;

}
ul li a{
  text-decoration:none;
  color: #f2f2f2;
}
.header{
  width:100%;
  height: 60px;
  background: #f1f1f1;
}
.flexContent{
  display: flex;
}
.items{
  padding:20px;
  width:25%;
  height: 100%;
  border:1px solid black;

}
